.image-clignote  
{
    animation-duration: .5s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter 
 {
   0%   { opacity:1; }
  20%   { opacity:0; }
  40%   {opacity:1; }
  60%   {opacity:0; }
  100% { opacity:1; }
 }